In [45]:
import pandas as pd 
import glob
import plotly.graph_objs as go
import matplotlib as plt
import plotly as pl 
import numpy as np
import bokeh 
import pandas_datareader.data as web
from datetime import *
from plotly.graph_objs import Scatter, Layout

In [ ]:
pl.tools.set_credentials_file(username='HerbertGourout', api_key='rCfamr0DHh0nnioBytM9')

In [22]:
path = r'data'
allfile =  glob.glob(path+'/*.csv')

['data/CAC40-5YEARS.csv', 'data/CAC40-1YEAR.csv']

In [24]:
dfs=[]
for file in allfile:
    dfs.append(pd.read_csv(file))
    
train_data = pd.concat(dfs,ignore_index=True)

In [39]:
train_data.head().iloc[:]

,Date,Open,High,Low,Close,Adj Close,Volume
0,2013-03-18,3768.070068,3832.020020,3761.219971,3825.469971,3825.469971,122589000.0
1,2013-03-19,3813.370117,3819.370117,3763.989990,3775.750000,3775.750000,126794800.0
2,2013-03-20,3798.120117,3834.879883,3785.810059,3829.560059,3829.560059,105949800.0
3,2013-03-21,3821.439941,3822.649902,3756.580078,3774.850098,3774.850098,103805600.0
4,2013-03-22,3766.239990,3790.919922,3750.050049,3770.290039,3770.290039,95914400.0

In [60]:
train_data.tail()

,Date,Open,High,Low,Close,Adj Close,Volume
1529,2018-03-09,5243.089844,5293.080078,5241.509766,5274.399902,5274.399902,75500400.0
1530,2018-03-12,5298.220215,5302.419922,5258.109863,5276.709961,5276.709961,64074300.0
1531,2018-03-13,5284.839844,5311.660156,5225.270020,5242.790039,5242.790039,87014000.0
1532,2018-03-14,5237.750000,5272.720215,5224.310059,5233.359863,5233.359863,73618000.0
1533,2018-03-15,5252.220215,5274.939941,5235.939941,5267.259766,5267.259766,82441300.0

In [54]:
data = [go.Scatter(x=train_data.Date, y=train_data['Open'])]
pl.offline.plot(data)

'file:///home/seydou/CAC40/temp-plot.html'

In [55]:
data = [go.Scatter(x=train_data.Date, y=train_data['High'])]
pl.offline.plot(data)

'file:///home/seydou/CAC40/temp-plot.html'

In [56]:
data = [go.Scatter(x=train_data.Date, y=train_data['Low'])]
pl.offline.plot(data)

'file:///home/seydou/CAC40/temp-plot.html'

In [57]:
data = [go.Scatter(x=train_data.Date, y=train_data['Close'])]
pl.offline.plot(data)

'file:///home/seydou/CAC40/temp-plot.html'

In [121]:
df= train_data
trace1=go.Scatter(x=df.Date, y=df['Open'], name="Open", line = dict(color = '#17BECF'), opacity = 0.8)
trace2=go.Scatter(x=df.Date, y=df['High'], name="HIGH", line=dict(color='#7F7F7F'), opacity=0.8)
trace3=go.Scatter(x=df.Date, y=df['Close'], name="Close", line=dict(color='red'), opacity=0.8)
trace4=go.Scatter(x=df.Date, y=df['Low'], name="Low", line = dict(color = '#33CFA5'), opacity = 0.8)

#add mean to graph
trace_1_avg = go.Scatter(x=df.Date,
                            y=[df.Open.mean()]*len(df.index),
                            name='Open Average',
                            visible=False,
                            line=dict(color='#17BECF', dash='dash'))

trace_2_avg = go.Scatter(x=df.Date,
                            y=[df.High.mean()]*len(df.index),
                            name='High Average',
                            visible=False,
                            line=dict(color='#7F7F7F', dash='dash'))

trace_3_avg = go.Scatter(x=df.Date,
                            y=[df.Low.mean()]*len(df.index),
                            name='Low Average',
                            visible=False,
                            line=dict(color='#red', dash='dash'))

trace_4_avg = go.Scatter(x=df.Date,
                            y=[df.Close.mean()]*len(df.index),
                            name='Close Average',
                            visible=False,
                            line=dict(color='#33CFA5', dash='dash'))
data=[trace1,trace2,trace3,trace4]
data1=[trace2,trace3,trace_2_avg,trace_3_avg]

# annotation

high_annotations=[dict(x='2016-03-01',
                       y=df.High.mean(),
                       xref='x', yref='y',
                       text='High Average:<br>'+str(df.High.mean()),
                       ax=0, ay=-40),
                  dict(x=df.High.idxmax(),
                       y=df.High.max(),
                       xref='x', yref='y',
                       text='High Max:<br>'+str(df.High.max()),
                       ax=0, ay=-40)]
low_annotations=[dict(x='2014-05-01',
                      y=df.Low.mean(),
                      xref='x', yref='y',
                      text='Low Average:<br>'+str(df.Low.mean()),
                      ax=0, ay=40),
                 dict(x=df.High.idxmin(),
                      y=df.Low.min(),
                      xref='x', yref='y',
                      text='Low Min:<br>'+str(df.Low.min()),
                      ax=0, ay=40)]

In [122]:
updatemenus = list([
    dict(type="buttons",
         active=-1,
         buttons=list([   
            dict(label = 'High',
                 method = 'update',
                 args = [{'visible': [True, True, False, False]},
                         {'title': 'Yahoo High',
                          'annotations': high_annotations}]),
            dict(label = 'Low',
                 method = 'update',
                 args = [{'visible': [False, False, True, True]},
                         {'title': 'Yahoo Low',
                          'annotations': low_annotations}]),
            dict(label = 'Both',
                 method = 'update',
                 args = [{'visible': [True, True, True, True]},
                         {'title': 'Yahoo',
                          'annotations': high_annotations+low_annotations}]),
            dict(label = 'Reset',
                 method = 'update',
                 args = [{'visible': [True, False, True, False]},
                         {'title': 'Yahoo',
                          'annotations': []}])
        ]),
    )
])

In [124]:
xaxis=dict(
    rangeselector=dict(
        buttons=list([
            dict(count=1,
                 label='1m',
                 step='month',
                 stepmode='forward'),
            dict(count=6,
                 label='6m',
                 step='month',
                 stepmode='forward'),
            dict(count=1,
                label='YTD',
                step='year',
                stepmode='todate'),

            dict(count=1,
                label='1y',
                step='year',
                stepmode='forward'),
            dict(step='all')
        ])
    ),
    rangeslider=dict(),
    type='date'
)
    
layout = dict(title='Yahoo', showlegend=False,
              updatemenus=updatemenus)
layout2 = dict(title='Yahoo', showlegend=False,
              xaxis=xaxis)
fig = dict(data=data, layout=layout)
fig2= dict(data=data1,layout=layout2)
pl.offline.plot(fig, filename = "Manually Set Range.html")
pl.offline.plot(fig2, filename = "update_button'")

/home/seydou/.local/lib/python3.6/site-packages/plotly/offline/offline.py:459: UserWarning:

Your filename `update_button'` didn't end with .html. Adding .html to the end of your file.

"file:///home/seydou/CAC40/update_button'.html"